body {
    background-color: navajowhite;
    text-align: center;
    margin: 20px 60px 20px 60px;
}

header {
    color: midnightblue;
}

.content {
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    color: midnightblue;
    text-align: left;
}