.main {
    height: var(--height-main);
    /* ensures that main starts below both the header and menu */
    clear: both;
}

.img_main {
    width: 500px;
    height: 550px;
    float: left;
    margin-top: 15px;
    margin-left: 70px;
}

.about_author {
    font-family: var(--font-family-text);
    font-size: var(--font-size-p);
    color: var(--color-dark-chocolate);
    position: absolute;
    top: 150px;
    left: 613px;
}

.novels {
    position: absolute;
    left: 613px;
    top: 425px;
}

.stories {
    position: absolute;
    left: 1078px;
    top: 534px;
}

.nonfiction {
    position: absolute;
    left: 613px;
    top: 724px;
}

.novels ul li,
.stories ul li,
.nonfiction ul li {
    font-family: var(--font-family-text);
    font-size: var(--font-size-p);
    color: var(--color-dark-chocolate);
    font-style: italic;
    font-weight: bold;
    /* to align the bullet points with the title */
    margin-left: 35px;
}