@import url('base.css');
@import url('reset.css');
@import url('header.css');
@import url('menu.css');
@import url('main.css');
@import url('additional.css');
@import url('footer.css');

body {
    /* center the site */
    margin: auto;
    /* max width */
    max-width: var(--width);
}

.container {
    width: var(--width);
    background-color: var(--color-beige);
    color: var(--color-dark-chocolate);
    font-family: var(--font-family-text);
    font-size: var(--font-size-p);
}

.text_border {
    /* width and color of the text border */
    -webkit-text-stroke: 1px var(--color-dark-chocolate);
}

.h2 {
    /* fonts */
    font-family: var(--font-family-h);
    font-size: var(--font-size-h2);
    font-weight: bold;
    color: var(--color-light-chocolate);
}

.p_italic {
    font-family: var(--font-family-text);
    font-size: var(--font-size-p);
    font-style: italic;
    color: var(--color-dark-chocolate);
}