body {
    background-color: rgb(106, 106, 106);
}

a {
    color: rgb(165, 235, 165);
}

span {
    color: red;
}

a[href="#point"] {
    font-size: large;
}

.p_darkgrey_cursive {
    color:rgb(41, 40, 40);
    font-style: italic;
    font-size: xx-large;
}

.p_semibold {
    font-weight: 600;
    font-size: xx-large;
}

.p_large {
    font-size: xx-large;
}

.plantain_left {
    float: left;
    width: 30%;
}

.plantain_right {
    float: right;
    width: 40%;
}