.navbar-nav .nav-link {
    font-size: 20px;
    color: #5b7c99;
    font-weight: bold;
}

.navbar-nav .first,
.navbar-nav .third {
    background-color: rgb(233, 172, 18);
    color: #5b7c99;
}

.navbar-nav .second,
.navbar-nav .fourth {
    background-color: #5b7c99;
    color: rgb(233, 172, 18)
}